ul {
    list-style: none;
}
ul .list-icon{
    text-align: center;
}
ul .list-icon-item{
    margin:5px;
    width: 100%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul .list-icon-picture{
    color:red;
    margin-right: 10px;
}
ul .list-icon span{
    text-align: center;
}

mat-form-field{
    width: 100%;
}
mat-tab .col-md-12{
    margin-top: 15px;
}

mat-raised-button{
    background-color: darkred;
}
mat-raised-button:hover{
    background-color: red;
}