<div class="grid-container" *ngIf="analyse !=null">
  <h1 class="mat-h1" routerLink="/analyse" style="cursor: pointer;">
      <mat-icon>keyboard_backspace</mat-icon> Détails de l'analyse <strong>{{ analyse?.id }}</strong></h1>
  <mat-grid-list cols="2" style="height: fit-content;">
    <mat-grid-tile *ngFor="let card of cards | async, let i=index" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title *ngIf="i==0">
            Réponse au questions
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Signaler</button>
              <button mat-menu-item>Supprimer</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-title *ngIf="i==1">
            Résultats
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Approuver</button>
              <button mat-menu-item>Désapprouver</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-title *ngIf="i==2">
            <h2>Consignes</h2>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Valider</button>
              <button mat-menu-item>Supprimer</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="i==0" class="dashboard-card-content-0">
          <div *ngFor="let quest of questions?.results; let ind_quest=index">
            <h5>{{ (ind_quest+1) + '-' + quest.libelle }}</h5><br />
            <div *ngIf="quest.type == -1; else rep">
              <mat-checkbox [checked]="quest?.choix?.valeur == 1" (click)="$event.preventDefault()">Oui</mat-checkbox>
              <br />
              <mat-checkbox [checked]="quest?.choix?.valeur == -1" (click)="$event.preventDefault()">Non</mat-checkbox>
              <br /><br />
            </div>

            <ng-template #rep>
              <p style="color: darkred; font-size: 1.5em; font-weight: bolder;">{{ quest?.reponse?.valeur }}</p>
            </ng-template>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="i==1" class="dashboard-card-content-1">
          <div>
            <h5>Vous présentez des symptômes évalués à près de:</h5>
            <h2 style="color: darkred;">{{ analyse?.score_corona*100/nb_symptome_covid }}%</h2>
            <h5>des manifestations du Coronavirus</h5>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="i==2" class="dashboard-card-content">

          <div>
            <!-- <h5 class="text-dark" *ngFor="_consigne of consignes?.results">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ _consigne.libelle }}</h5><br /> -->
            <h5 class="text-dark" *ngFor="let _consigne of consignes?.results">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
              {{ _consigne.libelle }}</h5><br />
          </div>


        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
