mat-sidenav-container{
 height: 100vh;
 overflow: hidden;
 padding-bottom: 0;
 bottom: 0;
 margin-bottom: 0;
}

mat-nav-list a{
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 5px;
}
mat-nav-list a mat-icon{
    padding-right: 14px;
    color: darkblue;
}

a { color: inherit; } 