<div class="grid-container">
  <h1 class="mat-h1">Tableau de bord</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async, let i=index" [colspan]="card.cols" [rowspan]="card.rows">
      <div class="dashboard-card " *ngIf="i!=1 && i!=2 && i!=3">
        <div>
          <div>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </div>
        </div>
        <div class="dashboard-card-content">
          <div class="container-fluid" *ngIf="i!=1 && i!=2 && i!=3">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="card pull-up " >
                  <div class="card-content ">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="la la-user-md font-large-2 success"></i>
                        </div>
                        <div class="media-body text-right ">
                          <h5 class="text-bold-500 text-primary"> Autres Médecins disponibles</h5>
                          <h3 class="text-bold-600 text-primary">122</h3>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="card pull-up">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="la la-stethoscope font-large-2 warning"></i>
                        </div>
                        <div class="media-body text-right">
                          <h5 class="text-bold-500 text-success">Soins effectués</h5>
                          <h3 class="text-bold-600 text-success">34</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="card pull-up">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="la la-calendar-check-o font-large-2 info"></i>
                        </div>
                        <div class="media-body text-right">
                          <h5 class=" text-bold-500 text-danger">Tests d'aujourd'hui</h5>
                          <h3 class="text-bold-600 text-danger">3.5K</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="card pull-up bg-danger">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="la la-bed font-large-2 danger"></i>
                        </div>
                        <div class="media-body text-right">
                          <h5 class="text-bold-500 text-light">Kits disponibles</h5>
                          <h3 class="text-bold-600 text-light">179</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- <ng-template *ngIf="i==3"><app-doctors-list></app-doctors-list></ng-template> -->
        </div>
      </div>
      <app-doctors-list class="dashboard-card mat-elevation-z8" *ngIf="i==1" style="overflow: scroll;"></app-doctors-list>
      <div *ngIf="i==2" class="dashboard-card mat-elevation-z8" style="padding: 15px;">
        <h3>Résultats de l'analyse du patient sélectionné:</h3><br/><br/>
        <h5>1. Avez-vous de la fièvre ?</h5><br/>
        <mat-checkbox [checked]="true">Oui</mat-checkbox><br/>
        <mat-checkbox>Non</mat-checkbox><br/><br/>
        

        <h5>2. Si vous avez une toux, est-elle sèche ?</h5><br/>
        <mat-checkbox>Oui</mat-checkbox><br/>
        <mat-checkbox [checked]="true">Non</mat-checkbox><br/><br/>

        <h5>3. Avez-vous des difficultés à respirer ?</h5><br/>
        <mat-checkbox [checked]="true">Oui</mat-checkbox><br/>
        <mat-checkbox>Non</mat-checkbox><br/><br/>
        

        <h5>4. Etes-vous beaucoup fatigué ?</h5><br/>
        <mat-checkbox>Oui</mat-checkbox><br/>
        <mat-checkbox [checked]="true">Non</mat-checkbox><br/><br/>

        <h5>5. Votre corps présente-t-il des douleurs à répétition ?</h5><br/>
        <mat-checkbox [checked]="true">Oui</mat-checkbox><br/>
        <mat-checkbox>Non</mat-checkbox><br/><br/>
        

        <h5>6. Votre nez coule-t-il ou est-il bouché ?</h5><br/>
        <mat-checkbox>Oui</mat-checkbox><br/>
        <mat-checkbox [checked]="true">Non</mat-checkbox><br/><br/>

        <h5>7. Avez-vous la gorge irritée ?</h5><br/>
        <mat-checkbox [checked]="true">Oui</mat-checkbox><br/>
        <mat-checkbox>Non</mat-checkbox><br/><br/>
        

        <h5>8. Avez-vous fréquemment de la diarrhée ?</h5><br/>
        <mat-checkbox>Oui</mat-checkbox><br/>
        <mat-checkbox [checked]="true">Non</mat-checkbox><br/><br/>
    </div>
    <div *ngIf="i==3" class="dashboard-card mat-elevation-z8" style="padding: 15px;">
      <h3>Patient(e) sélectionné(e):</h3><br/><br/>
      <h5>Nom: <strong>KOUAME</strong></h5><br/>
      <h5>Prénom: <strong>Yoel</strong></h5><br/>
      <h5>Numéro: <strong>+225 09700880</strong></h5><br/>
      <h5>Localité: <strong>Abidjan, Cocody-Angré</strong></h5><br/>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
